<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <label for="firstName"> FirstName </label>
  <input type="text" formControlName="firstName">
  <br>
  <label for="lastName"> LastName </label>
  <input type="text" formControlName="lastName">
  <br>
  <label for="age"> Age </label>
  <input type="text" formControlName="age">
  <br>
  <label for="email"> Email </label>
  <input type="text" formControlName="email">
  <br>
  <br>
  <div formGroupName="address">
    <label for="email"> City </label>
    <input type="text" formControlName="city">
    <br>
    <br>
    <label for="email"> Zip </label>
    <input type="text" formControlName="zip">
    <br>
  </div>
  <button type="submit" [disabled]="!userForm.valid">Submit</button>
</form>
<p>
  <button (click)="updateModel()"> Update Model </button>
</p>
