<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <label for="firstName"> FirstName </label>
  <input type="text" formControlName="firstName">
  <br>
  <label for="lastName"> LastName </label>
  <input type="text" formControlName="lastName">
  <br>
  <div formGroupName="address">
    <label for="email"> City </label>
    <input type="text" formControlName="city">
    <br>
    <br>
    <label for="email"> Zip </label>
    <input type="text" formControlName="zip">
    <br>
  </div>
  <div formArrayName="mobiles">
    <h3>Enter Mobile Number </h3>
    <button (click)="addNewMobile()"> Add New Mobile </button>
    <div *ngFor="let mob of mobiles.controls; let i = index">
      <label for="mobile"> Mobile {{ i + 1}} </label>
      <input type="text" [formControlName]="i">
    </div>
  </div>
  <button type="submit" [disabled]="!userForm.valid">Submit</button>
</form>
